@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');



body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 400px;
  max-height: 800px;
  margin: auto;
  background-color: black;
  color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-picture {
  width: 400px;;
  height: 20%;
}

.main > p {
  font-size: small;
}

.main {
  width: 400px;
  justify-content: center;
  align-items: center;
}

.header > h1 {
  font-size: xx-large;
}

.header > h4 {
  font-size: smaller;
}

.header > p {
  font-size: small;
}
.main > h2 {
  font-size: medium;
}

.header {
  width: 400px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-around;

}

.buttons > button {
  padding: 7px 30px;
  justify-items: stretch;
  size: 100px;
  border: none;

}

.linkedin-button {
  background-color: blue;
  color: white;
}

.email-button {
  background-color:whitesmoke;
  color: black;
}

.footer {
  display: flex;
  justify-content: space-around;
  justify-items: center;
}