nav {
  border-bottom:solid grey 1px ;
}

nav > img {
  width: 150px;
  margin: 15px 25px;
}

.hero > img {
  display: flex;
  margin-top: 50px;
  margin-inline: auto;
}

.hero-text {
  margin: 25px 25px;
}

.hero-text > h1{
  font-size: 60px;
  font-weight: bolder;
}

.hero-text > h2{
  font-size: xx-large;
  font-weight: 300;
  margin-right: 25%;
}

.cards {
  display: flex;
  justify-content: left;
  margin: 25px 25px;
}

.card {
  margin-right: 50px;
  max-width: 300px;
}

.card > img {
  max-width: 100%;
  min-height: 70%;
  /* width: 100%;
  height: 75%; */
}

.card > p {
  max-width: 200px;
}
.card-stats {
  margin-top: 10px;
  max-width: 300px;
}

.card-stats > span{
  max-width: 300px;
  font-weight: 100;
  font-size: large;
  line-height: 0.5px;
}


