body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
  margin: auto;
  display: flex;
  justify-content: space-around;
  justify-self: center;
  padding: 15%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 150px;
  height: 200px;
}
.profile{
  height: 120px;
  width: 150px;
}
.container {
  padding: 2px 16px;
}

.container > h3{
  font-size: small;
}

.container > p {
  font-size: x-small;
}