.main{
  background-color: whitesmoke;
}

.body{
  margin-top: 50px;
  margin-left: 50px;
}

nav {
  display: flex;
  justify-content: center;
  background-color: red;
}

nav > img {
  height: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

nav > h2 {
  font-size: medium;
  font-weight: bold;
}

.card {
  display: flex;
  margin-bottom: 20px;
}

.card > img {
  height: 210px;
  width: 150px;
  border-radius: 15px 15px 15px 15px;
}

.details {
  margin: 30px;
}

.details > h2 {
  line-height: 0;
  margin-bottom: 50px;
}

.details > h4 {
  line-height: 0;
}

.details > span > img {
  height: 15px;
}