.main{
  width: 200px;
  margin: auto;
  margin-top: 50%;
}
.main > h1 {
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 45%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}
.buttons > button {
  padding: 10px 30px;
}